#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
form{
  height: 20vh;
  background-color: #d8e2dc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  border-radius: 10px;
}
label > input{
  margin-left: 10px;
  padding: 3px;
}
.submit{
  width: 50%;
  align-self: center;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}
.error{
  color: red;
}